[Unit]
Description=Internet Check Service
After=network.target

[Service]
ExecStart=/bin/bash -c "/usr/bin/python3 /home/climatenet/Desktop/Sima_Marina/InternetService/main.py >> /home/climatenet/Desktop/Sima_Marina/check.log 2>&1"
Restart=always
RestartSec=30s


[Install]
WantedBy=default.target
